/* =============================================================================
   =============================== MAIN CONTAINER ==============================
   ============================================================================= */


.cesium-customObject-configContainer{
    position: absolute;
    top: 40px;
    left : 10px;
    width :  800px;
    height : 70%;
    //  background: #303336; 
    //  border: 1px solid #444;
    opacity : 0.0;
    z-index: -1;
    background: linear-gradient(to right, #303333 30%, rgba(0,255,0,0));
}

.cesium-customObject-configContainer-show{
    position: absolute;
    top: 40px;
    left : 10px;
    width :  800px;
    height : 50%;
    //  background: #303336; 
    //  border: 1px solid #444;
    background: linear-gradient(to right, #303333 30%, rgba(0,255,0,0));

    transition-property: opacity;
    transition:  1s;

    transition-property: z-index;
    transition:  1s;
}

.cesium-customObject-configContainer-hidden{
    position: absolute;
    top: 40px;
    left : 10px;
    width :  800px;
    height : 50%;
    //   background: #303336; 
    //  border: 1px solid #444;
    background: linear-gradient(to right, #303333 30%, rgba(0,255,0,0));
    // opacity : 0;
    // z-index: 0;

    transition-property: opacity;
    transition:  0.1s;

    transition-property: z-index;
    transition:  0.1s;
}

/* =============================================================================
   ================================ LIST CONTAINER =============================
   ============================================================================= */

.cesium-customObject-listContainer {
    visibility: visible;
    position: relative;
    opacity : 1;
    margin : 0px;
    top: 0px;
    width :  100%;
    height : 93%;
    //  border : #ffffff thin solid;
}

/* =============================================================================
   ============================== BUTTON CONTAINER =============================
   ============================================================================= */

.cesium-customObject-btnContainer{
    visibility: visible;
    position: relative;
    top : -6px;
    opacity : 1;
    margin : 0px;
    width :  100%;
    height : 6%;
    //  border : red thin solid;
}

/* =============================================================================
   ============================ ELLIPSOID PARAMETERS ===========================
   ============================================================================= */

.cesium-customObject-ellipsoidParameters{
    position : absolute;
    top : 40px;
    left: -470px;
    width: 290px;
    height: 200px;
    //  border : red thin solid;
}

.cesium-customObject-ellipsoidParameters-show{

    transition-property: left;
    transition:  1s;
}

.cesium-customObject-ellipsoidParameters-hide{

    transition-property: left;
    transition:  0s;
}

/* =============================================================================
   ============================= ELLIPSOID TEXUTRE =============================
   ============================================================================= */

.cesium-customObject-ellipsoidTexture{
    position : absolute;
    top : 40px;
    left: -570px;
    width: 550px;
    height: 200px;
   // border : red thin solid;
}

.cesium-customObject-ellipsoidTexture-show{

    transition-property: left;
    transition:  1s;
}

.cesium-customObject-ellipsoidTexture-hide{

    transition-property: left;
    transition:  0s;
}

/* =============================================================================
   ========================== Infos layers CONTAINER ===========================
   ============================================================================= */

.cesium-customObject-infosLayer{
    position : absolute;
    top : 200px;
    left: -570px;
    width: 550px;
    height: 200px;
   // border : red thin solid;
}

.cesium-customObject-infosLayer-show{

    transition-property: left;
    transition:  1s;
}

.cesium-customObject-infosLayer-hide{

    transition-property: left;
    transition:  0s;
}

.cesium-customObject-infosLayer-table{
    width: 100%;
    text-align: center;
}

/* =============================================================================
   ========================== CONFIG FILE  CONTAINER ===========================
   ============================================================================= */

.cesium-customObject-configFile{
    position : absolute;
    top : 80%;
    left: -470px;
    width: 250px;
    height: 40px;
   // border : red thin solid;
}

.cesium-customObject-configFile-show{
    transition-property: left;
    transition:  1s;
}

.cesium-customObject-configFile-hide{
    transition-property: left;
    transition:  0s;
}