.cesium-Tools-wrapperPanel{
	visibility : hidden;
	position   : absolute;
	background : #303336; 
    border     : 1px solid #444;
    color      : #edffff; /* For text buttons */
	height     : 88px;
	width      : 0px;
	
	top        : 2px;
	left       : 36px;
        z-index: 5;
}


.cesium-Tools-wrapperPanel-transition-show{
	visibility : visible;
	position   : absolute;
	background : #303336; 
    border     : 1px solid #444;
    color      : #edffff; /* For text buttons */
	height     : 88px;
	width      : 146px;
	
	top        : 2px;
	left       : 36px;
	
	/*transition-property: height;
    transition:  0.0s;*/
	
	transition-property: width;
    transition:  0.5s;
}

.cesium-Tools-wrapperPanel-transition-hide{
	visibility : collapse;
	position   : absolute;
	background : #303336; 
    border     : 1px solid #444;
    color      : #edffff; /* For text buttons */
	
	top        : 2px;
	left       : 36px;
	
	height     : 88px;
	width      : 0px;
	
	/*transition-property: height;
    transition:  0.0s;*/
	
	transition-property: width;
    transition:  0.5s;
}