.cesium-subMenu-saveButtonWrapper{
    position : relative;
    height: 37px;
    display: inline-block;
    margin : 0px;
    padding: 0px;
}

.cesium-subMenu-saveButton {
    position: absolute;
    left :40px;
    display: inline-block;
}

.cesium-subMenu-focus{
    border : #33ff00 1px solid; 
}

.cesium-subMenu-unfocus{
    border: 1px solid #444;
}
